/* ------------------------------  
      Hero section 
----------------------------------*/
.hero-area {
  z-index: 1;
  position: relative;
}
.hero-wrapper-one .carousel-inner::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(22, 37, 66, 0.5);
  z-index: 1;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.hero-wrapper-one .carousel-caption {
  z-index: 2;
  position: absolute;
  align-items: center;
  margin-bottom: 4rem;
}
.hero-wrapper-one .fa-arrow-left:before {
  content: "\f060";
}
.hero-wrapper-one .fa-arrow-right:before {
  content: "\f061";
}
.hero-wrapper-one .carousel-control-prev,
.hero-wrapper-one .carousel-control-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.hero-wrapper-one .carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #fff;
  color: #162542;
}
.hero-wrapper-one .carousel-control-prev {
  left: 10px;
}
.hero-wrapper-one .carousel-control-next {
  right: 10px;
}
.hero-wrapper-one .single-slider .slider-inner {
  padding: 220px 0 145px;
}
.hero-wrapper-one .single-slider .slider-inner {
  background-color: rgba(22, 37, 66, 0.6);
}
.hero-wrapper-one .hero-content h1 {
  font-size: 110px;
  line-height: 120px;
  color: #fff;
  margin-bottom: 20px;
}

.hero-wrapper-one .hero-content span.span {
  color: #fff;
  display: block;
  margin-bottom: 15px;
}
.hero-wrapper-one .hero-content span.span:before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 30px;
}
.hero-wrapper-one .hero-content h4 {
  font-family: "Karla", sans-serif;
  color: #fff;
  margin-bottom: 35px;
}
.hero-wrapper-one .hero-content ul.button li {
  display: inline-block;
}
.hero-wrapper-one .hero-content ul.button li:last-child {
  margin-left: 5px;
}
.hero-wrapper-one .hero-content ul.button li .main-btn.filled-btn {
  border-color: rgba(255, 255, 255, 0.102);
  color: rgba(255, 255, 255, 0.3);
}
.hero-wrapper-one .hero-content ul.button li .main-btn.filled-btn:hover {
  border-color: var(--main-color);
  color: #fff;
}
.hero-wrapper-one .hero-content ul.button li .main-btn.filled-btn:hover:before {
  background-color: var(--main-color);
}

.hero-wrapper-one .hero-content.hero-content-center {
  text-align: center;
}

.hero-wrpper-two .hero-content {
  padding: 277px 0 178px;
}
.hero-wrpper-two .hero-content h1,
.hero-wrpper-two .hero-content p,
.hero-wrpper-two .hero-content span.span {
  color: #fff;
}
.hero-wrpper-two .hero-content h1 {
  font-size: 75px;
  line-height: 85px;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .hero-wrpper-two .hero-content h1 {
    font-size: 42px;
    line-height: 55px;
  }
}
.hero-wrpper-two .hero-content span.span {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-wrpper-two .hero-content p {
  margin-bottom: 33px;
}
.hero-wrpper-two .hero-content p.experience {
  margin-bottom: 0px;
}
.hero-wrpper-two .hero-content p.experience i {
  color: var(--main-color);
}
.hero-wrpper-two .hero-content .main-btn:hover {
  color: #162542;
}
.hero-wrpper-two .hero-content .main-btn:before {
  background-color: #fff;
}
.hero-wrpper-two .hero-content .hero-lawyers-search {
  margin-bottom: 23px;
}
.hero-wrpper-two .hero-content .hero-lawyers-search .form_control {
  font-size: 18px;
  font-weight: 700;
  font-family: "Frank Ruhl Libre", serif !important;
}
.hero-wrpper-two
  .hero-content
  .hero-lawyers-search
  .form_control::-webkit-input-placeholder {
  color: #162542;
}
.hero-wrpper-two
  .hero-content
  .hero-lawyers-search
  .form_control::-moz-placeholder {
  color: #162542;
}
.hero-wrpper-two
  .hero-content
  .hero-lawyers-search
  .form_control:-ms-input-placeholder {
  color: #162542;
}
.hero-wrpper-two
  .hero-content
  .hero-lawyers-search
  .form_control::-ms-input-placeholder {
  color: #162542;
}
.hero-wrpper-two .hero-content .hero-lawyers-search .form_control::placeholder {
  color: #162542;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-wrpper-two .hero-content .hero-lawyers-search .main-btn {
    padding: 13px 25px;
  }
}
@media (max-width: 991px) {
  .hero-wrpper-two .hero-content .hero-lawyers-search .main-btn {
    margin-top: 20px;
  }
}
.hero-wrpper-two .hero-img {
  margin-right: -230px;
  position: absolute;
  bottom: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-wrpper-two .hero-img {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-wrpper-two .hero-img {
    display: none;
  }
}
@media (max-width: 991px) {
  .hero-wrpper-two .hero-img {
    display: none;
  }
}

.breadcrumbs-area {
  position: relative;
  padding: 200px 0 135px;
}
.breadcrumbs-area.bg-with-overlay {
  background-color: rgba(22, 37, 66, 0.5);
}
.breadcrumbs-area .page-title h1 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 65px;
  line-height: 1.4;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs-area .page-title h1 {
    font-size: 42px;
    line-height: 55px;
  }
}
@media (max-width: 767px) {
  .breadcrumbs-area .page-title h1 {
    font-size: 32px;
    line-height: 45px;
  }
}
.breadcrumbs-area .page-title .breadcrumbs-link li {
  display: inline-block;
  color: #fff;
}
.breadcrumbs-area .page-title .breadcrumbs-link li:last-child:after {
  display: none;
}
.breadcrumbs-area .page-title .breadcrumbs-link li::after {
  display: inline-block;
  content: "";
  margin-left: 15px;
  margin-right: 10px;
  font-weight: 400;
  font-family: "Font Awesome 5 Pro";
}
.breadcrumbs-area .page-title .breadcrumbs-link li a {
  color: #fff;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.item:nth-child(1) {
  background: url(https://ununsplash.imgix.net/photo-1417021423914-070979c8eb34?q=75&fm=jpg&s=55746bd56e02a131b1e48c12196ea866)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.item:nth-child(2) {
  background: url(https://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.item:nth-child(3) {
  background: url(https://unsplash.imgix.net/photo-1414073875831-b47709631146?q=75&fm=jpg&s=731b6d5150eea8bafa63ae8194e72ebd)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel {
  z-index: -99;
}
.carousel .item {
  position: fixed;
  width: 100%;
  height: 100%;
}
@media (max-width: 570px) {
  .carousel .carousel-item img {
    width: 50%;
  }
}

.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #fff;
}
@media (max-width: 1400px) {
  .hero-wrapper-one .hero-content h1 {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 1199px) {
  .hero-wrapper-one .hero-content h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 1050px) {
  .hero-wrapper-one .carousel-inner img {
    height: 100%;
  }
  .hero-wrapper-one .hero-content h1 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .hero-wrapper-one .carousel-inner img {
    height: 100%;
  }

  .hero-wrapper-one .hero-content h1 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .hero-wrapper-one .carousel-inner img {
    height: 100%;
  }
  .hero-wrapper-one .hero-content h1 {
    font-size: 26px;
    line-height: 20px;
  }
  .hero-wrapper-one .carousel-caption {
    z-index: 2;
    position: absolute;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  .hero-wrapper-one .hero-content h4 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .hero-wrapper-one .hero-content .main-btn {
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .hero-wrapper-one .carousel-inner img {
    height: 100%;
  }
  .hero-wrapper-one .hero-content h1 {
    font-size: 20px;
    line-height: 15px;
  }
  .hero-wrapper-one .carousel-caption {
    margin-top: 1.5rem;
  }
  .hero-wrapper-one .hero-content h4 {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .hero-wrapper-one .hero-content .main-btn {
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
  }
}
