:root{
    --div-background-color: #eeebeb;
    --text-color: #b0a8a8;
    --highlighted-text-color: #787575;
    --normal-text-color: #333;
    --theme-color: #04b50a;
  }

.property-page{
    height: 100vh;
    margin-top: 100px;
    /* padding: 10px; */
}
.property-page .image-sec img{
    /* width: 500px; */
    height: 350px;
    margin: 10px;
    margin-top: 5px;
    padding: 15px;
}
.property-page .image-sec h2{
    font-size: 26px;
    color: var(--normal-text-color);
    margin: 25px;
    margin-bottom: 2px;
    font-weight: 700;
}

/* =============== cart sec =================== */
.property-page .cart-sec{
   margin: 20px;
   margin-top: 3rem;
   padding: 20px;
   /* margin-left: 6.5rem; */
   background-color: #f5f4f4;
}
.property-page .cart-sec .subscribe{
    content: "";
    display: block;
    width: 280px;
    height: 5px;
    background: var(--theme-color);
    margin-top: 0;
    margin-bottom: 10px;
}
.property-page .cart-sec .b-contents .row{
  border-bottom: 1px solid #c7c4c4;
  margin: 5px 10px;
}
.property-page .cart-sec  p{
    font-size: 10px;

}
.property-page .cart-sec .sec-2 p{
margin-right: 10px;
text-align: right;
}
.property-page .cart-sec .l-contents{
   margin: 0;
}
/*  =============== Image Slider ======== */
.property-page .testimonials-item {
    box-sizing: border-box;
    text-align: center;
    min-height: 220px;
  }
  .property-page .owl-nav{
    text-align: center;
    margin-left: -5rem ;
  }
  .property-page .owl-nav button.active{
    border: none;
  }

  .property-page .owl-nav .owl-prev span,
  .property-page .owl-nav .owl-next span{
     display: inline-block;
     margin: 0 15px;
     margin-top: -20rem;
    font-size: 58px;
    padding: 0;
    color:#333;
  }
  
  .property-page .owl-prev.active span,
  .property-page .owl-next.active span{
    color: var(--theme-color) !important;
    border: none !important;
    padding: 0;
  }
  .property-page .owl-dot span{
    display: none !important;
    overflow: hidden;
  }
  .property-page .owl-dots button.owl-dot.active{
    border: none !important;
    display: none;
  }

  /*  ============ Tabs ========= */
  .property-page .tab-modals {
    margin: 2rem 1rem;
    padding: 1rem 20px;

    /* box-shadow: 2px 3px 27px -7px rgba(0,0,0,0.65); */
  }
  .property-page .tab-modals ul.nav .nav-link{
    color: var(--highlighted-text-color);
    /* font-size: 20px; */
  }
  .property-page .tab-modals ul.nav .nav-link.active{
    color: var(--theme-color)
  }
  .property-page .tab-modals .tab-content #map{
   background: #ffffff;
    padding: 5px ;
  }
  .property-page .tab-modals .tab-content h2{
      margin: 20px;
      padding: 15px;
      font-size: 36px;
      font-weight: 500;
      color: var(--normal-text-color);
  }
  .property-page .tab-modals .tab-content h4{
    margin: 10px 0;
    padding: 10px;
    font-size: 26px;
    font-weight: 500;
    color: var(--normal-text-color);
  }

  .carousel-control-next-icon,.carousel-control-prev-icon {
  position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 3;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.6);
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s ease;
    transition: all .3s ease-in-out;

  }
  .property-page .tab-modals .tab-content h5{
    margin: 10px 20px;
    margin-bottom: 5px;
    /* padding: 10px; */
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--normal-text-color);
  }
  .property-page .tab-modals .tab-content p{
      margin: 0 20px;
      padding: 10px;
      font-size: 16px;
      font-weight: 300;
      color: var(--normal-text-color);
      text-align: left;
  }
  .property-page .tab-modals .tab-content img {
    margin: 2.5rem 30px;
    width: 80%;
    height: 500px;
    box-shadow: 2px 3px 56px -7px rgba(0,0,0,0.65);

  }
  
  .property-page .tab-modals .tab-content i{
    font-size: 16px;
    color: #00a706;
    background: #c6f7c8;
    border-radius: 50px;
    padding: 3px;
    margin-left: 8px;
  }
  .property-page .tab-modals .tab-content #financial .row{
    margin: 10px 20px;
    padding: 0 10px;
    border-top: 1px solid #dad7d7;
    border-bottom: 1px solid #dad7d7;
  }
  .property-page .tab-modals .tab-content #financial h4{
    text-align: left;
  }
  .property-page .tab-modals .tab-content #financial .row .col-6 p{
    margin-top: 12px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .property-page .tab-modals .tab-content #financial .row .sec-1 p{
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }
  .property-page .tab-modals .tab-content #financial .row .sec-2 p{
    margin-left: 0;
    padding-left: 0;
    text-align: right;
  }

  .property-page .avatar img{
    width: 850px; 
    height: 480px;
    display: flex; 
    flex-direction: row;
    align-self: center; 
    justify-content: center;
    border-radius: 3px;
  }

  .property-page .avatar img:hover{
    box-shadow: -1px 13px 41px 0px rgba(0,0,0,0.51);
    transition: 0.3s ease-in-out;
  }
  
  .property-page .text-content button{
    box-shadow: none;
  }
  .property-page .text-content button:hover{
    box-shadow: none;
  }
  .property-page .text-content button.active{
    box-shadow: none;
  }
  .property-page .chart-data{
     width: 340px; 
     height: 210px; 
    box-shadow: -1px 13px 41px 0px rgba(0,0,0,0.30);
    border-radius: 5px;
    margin: 20px 20px;
    background: #fff;
  }

  .property-page .chart-datainfo{
     width: 190px; 
    height: 120px;
    box-shadow: -1px 10px 19px 0px rgba(0,0,0,0.20);
    border-radius: 5px;
    margin: 20px 20px;
    margin-right: 30px;
    text-align: center;
    background: #fff;
  }
  /* .property-page .chart-datainfo:hover{
    background: #d0f0fb;
  } */
  .property-page .chart-datainfo h3{
    margin-top: 10px;
  }

  .property-page .chart-data .recharts-wrapper{
    justify-content: center;
  }
  .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item {
    margin-bottom: 10px;
  }

  .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item span.recharts-legend-item-text{
   font-size: 12px;
   font-weight: 600;
   color: #333 !important;
  }







@media(max-width: 2200px){
  .property-page .chart-data{
    width: 300px; 
    height: 290px; 
   margin: 20px 20px;
 }
}  
@media(max-width: 1600px){
  .property-page .chart-data{
    width: 280px; 
    height: 270px; 
   margin: 20px 20px;
 }
}
  @media(max-width: 1400px){
    .property-page .chart-datainfo{
      width: 140px; 
     height: 100px;
     margin: 20px 20px;
     text-align: left;
   }
   .property-page .chart-datainfo h3{
    margin: 0;
    text-align: center;
  }
  .property-page .tab-modals .tab-content .chart-datainfo h5{
    font-size: 16px;
    margin: 0;
    padding: 0;
   }
    .property-page .tab-modals .tab-content i{
      margin: 2px;
      font-size: 16px;
      padding: 1px;
     }
     .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item {
      margin-bottom: 2px;
      font-size: 10px;
    }
  
    .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item span.recharts-legend-item-text{
     font-size: 10px;
     font-weight: 600;
     color: #333 !important;
     margin-bottom: 2px;
    }
    .property-page .chart-data{
      width: 290px; 
      height: 280px; 
     margin: 20px 20px;
   }

  }
  @media(max-width: 1280px){
    .property-page .chart-data{
      width: 250px; 
      height: 280px; 
     margin: 20px 20px;
   }
  }
  @media(max-width: 1192px){
    .property-page .chart-datainfo{
      width: 150px; 
     height: 130px;
     margin: 20px 20px;
     text-align: left;
   }
   .property-page .tab-modals .tab-content .chart-datainfo h5{
    font-size: 16px;
    margin: 0;
    padding: 0;
   }
   .property-page .tab-modals .tab-content i{
    margin: 2px;
    font-size: 16px;
    padding: 1px;
   }
   .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item {
    margin-bottom: 2px;
    font-size: 10px;
  }

  .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item span.recharts-legend-item-text{
   font-size: 10px;
   font-weight: 600;
   color: #333 !important;
   margin-bottom: 2px;
  }
  .property-page .chart-data{
    width: 240px; 
    height: 280px; 
   margin: 20px 20px;
 }
 .property-page .tab-modals .tab-content #map{
   padding: 15px ;
 }
  }
  @media(max-width: 1000px){
    .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item span.recharts-legend-item-text{
      font-size: 10px;
      font-weight: 600;
      color: #333 !important;
      margin-bottom: 2px;
     }
     .property-page .chart-data{
       width: 240px; 
       height: 290px; 
      margin: 20px 20px;
    }
    .property-page .tab-modals .tab-content #map{
      padding: 25px ;
    }
  }
  @media(max-width: 992px){
    .property-page .chart-datainfo{
      width: 140px; 
     height: 100px;
     box-shadow: -1px 10px 13px 0px rgba(0,0,0,0.10);
     margin: 20px 20px;
     margin-right: 0.5rem;
     text-align: center;
   }
   .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item {
    margin-bottom: 2px;
    font-size: 10px;
  }

  .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item span.recharts-legend-item-text{
   font-size: 10px;
   font-weight: 600;
   color: #333 !important;
   margin-bottom: 2px;
  }
  .property-page .chart-data{
    width: 230px; 
    height: 270px; 
   margin: 20px 10px;
   margin-left: -10px;
 }
 .property-page .tab-modals .tab-content #map{
  padding-right: 35px ;
}
}

  @media(max-width: 767px){
    .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item {
      margin-bottom: 2px;
      font-size: 10px;
    }
  
    .property-page .chart-data .recharts-legend-wrapper .recharts-legend-item span.recharts-legend-item-text{
     font-size: 10px;
     font-weight: 600;
     color: #333 !important;
     margin-bottom: 2px;
    }
    .property-page .chart-data{
      width: 340px; 
      height: 270px; 
     margin: 20px 20px;
   }
  }
