@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700&family=Karla:wght@400;500;600;700&display=swap");
:root {
  --main-color: #b68c5a;
  --hover-color: #302a27;
  --footer-color: #ff5f00;
  --main-color-shade: #b68c5ae6;
  --main-color-rgb: rgb(182, 140, 90);
}
header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  font-family: "Frank Ruhl Libre", serif;
  color: #162542;
  margin: 0px;
  font-weight: 600;
}
body {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  font-size: 17px;
  line-height: 32px;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

/* ---------  Header-logo-area  -------------- */
.header-logo-area {
  width: "100%";
  height: 106px;
  background-color: #22262c;
}

.header-logo-area .site-branding {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.header-logo-area .site-branding .brand-logo img {
  width: 160px;
  height: 90.5px;
}
.header-logo-area .site-info {
  float: right;
}
.header-logo-area .site-info .info-list {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.header-logo-area .site-info .info-list li:first-child {
  border-left: 1px solid #efefef;
}
.header-logo-area .site-info .info-list li {
  display: flex;
  padding: 30px 70px;
  border-right: 1px solid #efefef;
}
.header-logo-area .site-info .info-list li .icon {
  margin-right: 15px;
}
i,
span,
a {
  display: inline-block;
}
.header-logo-area .site-info .info-list li .icon i {
  color: var(--main-color);
  font-size: 30px;
  line-height: 1;
}
.header-logo-area .site-info .info-list li .info {
  line-height: 13px;
}

.header-logo-area .site-info .info-list li .info span {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  line-height: 28px;
}

/* ----------  Header Navigation -------------- */

.main-btn:hover {
  color: #fff;
}
.main-btn:hover:before {
  bottom: 0;
}
.main-btn:before {
  position: absolute;
  bottom: calc(-100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #162542;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.main-btn.filled-btn {
  background-color: transparent;
  border: 2px solid #162542;
  color: #162542;
  line-height: 25px;
}

.header-navigation {
  position: relative;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(22, 37, 66, 0.15);
  box-shadow: 0px 10px 60px 0px rgba(22, 37, 66, 0.15);
  margin-bottom: -82px;
  z-index: 2;
  height: 81px;
  display: flex;
  align-items: center;
}

.header-navigation .navbar-toggler {
  border: none;
  box-shadow: none;
  font-size: 1.5rem;
}
.header-navigation .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar .close-button p {
  color: "#fff";
  background-color: var(--main-color);
}
.offcanvas.offcanvas-start {
  width: 300px;
}

/* ----  header right nav -----*/
.header-navigation .row {
  width: 1200px;
  height: 80px;
}
.header-navigation .header-right-nav {
  display: block;
  float: left;
}
.header-navigation .info a {
  font-size: 15px;
}
.header-navigation .info a:last-child::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  height: calc(100% - 15px);
  width: 1px;
  background: #aeaeae;
}

.header-navigation .info a:last-child {
  position: relative;
  margin-inline-start: 10px;
}
.header-navigation ul li .main-btn {
  padding: 10px 20px;
  left: -30px;
}
.header-navigation ul li form {
  position: relative;
  left: -15px;
}
.offcanvas-body {
  padding: 0;
}
@media (max-width: 992px) {
  .offcanvas-body .nav-item .nav-link {
    display: block;
    border-bottom: 1px solid #ececec;
    color: #162542 !important;
    padding: 13px 20px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 1;
  }
}

/* .header-navigation .offcanvas-body ul li:first-child > a {
  padding-left: 0px;
} */
.header-navigation .offcanvas-body ul li > a:hover {
  color: var(--main-color);
}
.header-navigation .offcanvas-body ul li > a {
  display: block;
  font-size: 17px;
  color: #162542;
  font-weight: 600;
  text-transform: capitalize;
  padding: 32px 15px;
  padding-left: 15px;
  line-height: 1;
}
.offcanvas {
  box-shadow: none;
}

@media only screen and (min-width: 350px) and (max-width: 1199px) {
  .header-navigation .navbar-nav {
    width: 300px;
    flex-direction: "row" !important;
    display: flex;
  }
}
/* @media only screen and (min-width: 767px) and (max-width: 991px){
  .header-navigation .navbar-nav{
    width: 300px;
    flex-direction: "row";
    display: flex;
  }
} */
