* {
  scrollbar-width: thin;
  scrollbar-color: #ddd #f1f1f1;
}
#layout {
  box-sizing: border-box;
}
#layout div,
#layout img,
#layout li,
#layout ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
#layout .main {
  min-height: 30vh;
  padding: 0;
}
#layout .white-shaded-bg {
  background-color: #eee;
}
#layout .common-padding {
  padding-top: 0;
  padding-bottom: 7px;
}
#layout article,
#layout aside,
#layout figcaption,
#layout figure,
#layout footer,
#layout header,
#layout hgroup,
#layout main,
#layout nav,
#layout section {
  display: block;
}
#layout .s-link,
#layout a {
  color: #2c2c2c;
}

#layout .container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
#layout .row {
  padding-top: 6rem;
  margin-left: -8px;
  margin-right: -8px;
}
#layout .col-lg-3.seller-profile-sidebar-col {
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
#layout .row [class^="col-"] {
  padding-left: 9px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  #layout .col-lg-3 {
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
#layout .col-lg-9.seller-profile-content-col {
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
@media (min-width: 992px) {
  #layout .col-lg-9 {
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
/* -------------- Sidebar Start -------------------  */
#layout .seller-profile-sidebar-col .bordered-shadow-box {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#layout .bordered-shadow-box {
  -webkit-box-shadow: 0 0 7px #ddd;
  box-shadow: 0 0 7px #ddd;
  background-color: #fff;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#layout .bordered-shadow-box-overflow-hidden {
  overflow: hidden;
}
#layout .seller-profile-sidebar {
  padding-bottom: 20px;
}
#layout
  .seller-profile-sidebar
  .seller-profile-sidebar-collapsed-menu-area.first {
  margin-top: 0;
}
#layout .seller-profile-sidebar-collapsed-menu-area {
  position: relative;
  margin-top: 20px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  #layout .container {
    max-width: 1300px;
  }
}

#layout .seller-profile-sidebar-collapsed-menu-area.first::before {
  display: none;
}
#layout .seller-profile-sidebar-collapsed-menu-area::before {
  position: absolute;
  left: 15px;
  top: -10px;
  width: calc(100% - 30px);
  height: 2px;
  background: #e2e2e2;
  content: "";
}
#layout .seller-profile-sidebar-collapsed-menu-header {
  display: -webkit-flex;
  display: flex;
  padding: 5px 15px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 10px;
}
#layout .s-link,
#layout .seller-profile-sidebar a {
  color: #2c2c2c;
}
#layout .seller-profile-sidebar a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #111;
}
#layout a,
#layout a:focus,
#layout a:hover,
#layout button:focus,
#layout input:focus,
#layout select:focus,
#layout textarea:focus {
  outline: 0 solid !important;
  text-decoration: none;
}
#layout a {
  /* color: #007bff; */
  text-decoration: none;
  background-color: transparent;
}
#layout .menu a,
#layout .menu a:focus,
#layout .menu a:link,
#layout .menu a:visited,
#layout span {
  display: inline-block;
}

#layout .fa-chevron-right::before {
  content: "\f054";
}
#layout .fa,
#layout .fas {
  font-weight: 900;
}
#layout .fa,
#layout .far,
#layout .fas {
  font-family: Font Awesome 5 Free;
}
#layout .fa,
#layout .fab,
#layout .fad,
#layout .fal,
#layout .far,
#layout .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
#layout .seller-profile-sidebar-menu ul li {
  display: block;
}
#layout .seller-profile-sidebar-menu ul li a {
  display: -webkit-flex;
  display: flex;
  height: 35px;
  -webkit-align-items: center;
  align-items: center;
  padding: 4px 25px;
  font-size: 14px;
  color: #666;
  border-left: none;
}
#layout .seller-profile-sidebar-menu ul li a span.icon {
  margin-right: 9px;
  display: flex;
}
#layout .seller-profile-sidebar-menu ul li a .icon img {
  width: 20px;
  align-self: center;
}
#layout .seller-profile-sidebar-menu > ul > li > a .text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#layout .collapse:not(.show) {
  display: none;
}
#layout .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
  #layout .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}
/* -------------- Sidebar End -------------------  */

/* -------- Main Dashboard Start -------  */
#layout .col-lg-9.seller-profile-content-col {
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
#layout .seller-profile-content-area {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
#layout .seller-profile-content-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#layout .seller-profile-content-header h3 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
#layout .seller-profile-content-header h3 {
  font-size: 18px;
  font-weight: 600;
}

#layout .seller-profile-content-breadcumb ul li::before {
  position: absolute;
  right: -18px;
  top: 54%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: ">";
  font-size: 11px;
  color: #999;
}

#layout .seller-profile-content-breadcumb ul li {
  display: inline-block;
  margin-right: 25px;
  position: relative;
  font-size: 12px;
}
#layout .seller-profile-content-breadcumb ul li a {
  color: #999;
}

/*----------------------------------------------------
  Summary List
-----------------------------------------------------*/

#layout .seller-profile-summary-card-new::after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 70%;
  height: 100%;
  background: #fff;
  content: "";
  opacity: 0.3;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: -1;
}
#layout .seller-profile-summary-card-new::before {
  position: absolute;
  right: -10px;
  bottom: -56px;
  width: 64%;
  height: 94%;
  background: #fff;
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.3;
  z-index: -1;
}

#layout .seller-profile-summary-card-new.blue,
#layout .seller-profile-summary-card-new.blue:hover,
#layout .seller-profile-summary-card-new.dark-green,
#layout .seller-profile-summary-card-new.dark-green:hover,
#layout .seller-profile-summary-card-new.dark-red,
#layout .seller-profile-summary-card-new.dark-red:hover,
#layout .seller-profile-summary-card-new.green,
#layout .seller-profile-summary-card-new.green:hover,
#layout .seller-profile-summary-card-new.purple,
#layout .seller-profile-summary-card-new.purple:hover,
#layout .seller-profile-summary-card-new.red,
#layout .seller-profile-summary-card-new.red:hover {
  color: #fff !important;
}
#layout .seller-profile-summary-card-new.red {
  background-image: -webkit-linear-gradient(135deg, #fa709a, #fee140);
  background-image: linear-gradient(315deg, #fa709a, #fee140);
}
#layout .seller-profile-summary-card-new.purple {
  background-image: -webkit-linear-gradient(135deg, #a18cd1, #fbc2eb);
  background-image: linear-gradient(315deg, #a18cd1, #fbc2eb);
}
#layout .seller-profile-summary-card-new.blue {
  background-color: #738bdc;
  background-image: -webkit-linear-gradient(135deg, #738bdc, #48c3eb 74%);
  background-image: linear-gradient(315deg, #738bdc, #48c3eb 74%);
}
#layout .seller-profile-summary-card-new.green {
  background-image: -webkit-linear-gradient(135deg, #d4fc79, #96e6a1);
  background-image: linear-gradient(315deg, #d4fc79, #96e6a1);
}
#layout .seller-profile-summary-card-new {
  display: -webkit-flex;
  display: flex;
  background: #fff;
  background-image: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  height: 160px;
  margin-bottom: 15px;
  color: #777;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px #f5f5f5;
  box-shadow: 0 0 20px #f5f5f5;
  z-index: 1;
}
#layout .seller-profile-summary-card-icon-new {
  position: absolute;
  right: 63px;
  bottom: 18px;
  font-size: 20px;
}
#layout .seller-profile-summary-card-info-new p {
  margin-bottom: 0;
  white-space: nowrap;
  color: "#fff";
}
#layout .seller-profile-summary-list .row {
  padding-top: 0;
}
/*----------------------------------------------------
   Seller Dashboard
-----------------------------------------------------*/
#layout .seller-dashboard-col-equal > [class^="col-"] {
  margin-bottom: 20px;
}
#layout .seller-dashboard-col-equal .seller-profile-panel {
  margin-bottom: 0;
  height: 100%;
}
#layout .seller-profile-panel {
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px #eee;
  box-shadow: 0 2px 10px #eee;
  margin-bottom: 20px;
}
#layout .seller-profile-panel-header {
  background-color: #fff;
  padding: 8px 15px;
  border-bottom: 1px solid #efecec;
  font-weight: 500;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#layout .seller-profile-panel-body {
  padding: 20px;
}
#layout .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
#layout .order-details-info,
#layout .order-details-info *,
#layout .order-meta-info-row,
#layout .order-meta-info-row *,
#layout .rdt_TableHeadRow,
#layout .rdt_TableHeadRow *,
#layout .seller-profile-panel-body table,
#layout .seller-profile-panel-body table * {
  font-size: 13px !important;
}
#layout .dashboard-notification table {
  margin-bottom: 0;
}
#layout .seller-profile-panel-body table {
  width: 100%;
  margin: 0;
  margin-bottom: 0px;
}
#layout .table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
#layout table {
  border-collapse: collapse;
}
#layout .notification-list-area table tr {
  display: table-row;
  height: 36px;
  margin: 0;
  padding: 0;
}
#layout .notification-list-area table tr td {
  text-align: center;
  vertical-align: middle;
  padding: 3px 12px;
  border-bottom: 1px solid #f3f3f3;
}
/* #layout .seller-profile-panel-body table tr td {
  padding: 5px 12px;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #eee;
} */
/* #layout .seller-profile-panel-body table tr td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
  } */
#layout .notification-list-area table tr td p {
  text-align: center;
  color: #999;
  margin: 0;
}
#layout a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
#layout .notification-list-area p a {
  color: #222 !important;
  cursor: pointer;
}
#layout .notification-list-area .table-image {
  border: none;
  width: 30px;
  height: 30px;
}
#layout .notification-list-area .table-image img {
  -webkit-object-fit: cover;
  object-fit: cover;
}
#layout .table-image img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: contain;
  object-fit: contain;
}
#layout .seller-dashboard-col-equal.row {
  padding-top: 0;
}
#layout .seller-profile-panel-body2 table tr td {
  padding: 14px 12px;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
#layout .seller-profile-panel-body2 table {
  width: 100%;
  margin: 0;
  margin-bottom: 0px;
}
/*----------------------------------------------------
   Common Menus
-----------------------------------------------------*/
#layout .dashboard-common-menus ul,
#layout .dashboard-common-menus ul li {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
#layout .dashboard-common-menus ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#layout .dashboard-common-menus ul li,
#layout .dashboard-common-menus ul li a[data-toggle="collapse"] {
  position: relative;
}
#layout .dashboard-common-menus ul li {
  width: 20%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 16px 0;
}
#layout .dashboard-common-menus ul li a,
#layout .dashboard-common-menus ul li a .icon {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#layout .dashboard-common-menus ul li a {
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
#layout .dashboard-common-menus ul li a .icon {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 27px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#layout .dashboard-common-menus ul li a .icon img {
  width: 55px;
}
#layout .dashboard-common-menus ul li a .text {
  font-size: 14px;
  line-height: 16px;
}
#layout .seller-profile-content-col .row {
  padding-top: 0;
}
/*----------------------------------------
    Affiliate Programme
-----------------------------------------*/
#layout [type="button"]::-moz-focus-inner,
#layout [type="reset"]::-moz-focus-inner,
#layout [type="submit"]::-moz-focus-inner,
#layout button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

#layout .btn-submit.affiliate-program-box.blue {
  background: #0575e6 !important;
  background: -webkit-linear-gradient(0deg, #021b79, #0575e6) !important;
  background: -webkit-linear-gradient(bottom, #021b79, #0575e6) !important;
  background: linear-gradient(0deg, #021b79, #0575e6) !important;
}
#layout .btn-submit.affiliate-program-box {
  height: 140px;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
#layout button.btn-submit {
  height: 35px;
  background-color: #30a55e;
  border: 1px solid #47d05c;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 7px 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
#layout .btn-submit {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: auto !important;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
#layout .btn-submit,
#layout .product-review-form-buttons .btn-submit,
#layout .product-review-form input[type="submit"] {
  background-color: #30a55e;
  border: 1px solid #47d05c;
  height: 36px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 7px 20px;
}
#layout .affiliate-program-icon {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 60px;
  height: 60px;
  background: rgb(255 255 255/25%);
  font-size: 28px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* --------------------------
   Seller basic info Form
 ------------------------------  */
#layout .seller-profile-form:not(:last-child) {
  margin-bottom: 40px;
}
#layout .form-group {
  margin-bottom: 1rem;
}
#layout .seller-profile-form .form-group label,
#layout .shipping-address-form-body label {
  margin: 0;
  font-size: 13px;
  color: #555;
}

#layout .seller-profile-form .form-group .form-control::placeholder {
  font-size: 14px;
}
#layout .seller-profile-form .form-group .form-control::placeholder {
  font-size: 14px;
}
#layout .form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
#layout .form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

#layout .seller-profile-form .form-group .form-control {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 36px;
  font-size: 14px;
  text-align: left;
}
#layout .seller-profile-form .form-group input,
#layout .seller-profile-form .form-group select {
  width: 100%;
}
#layout .form-control:disabled,
#layout .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
#layout .seller-profile-form .form-group .form-control[readonly] {
  border-color: #ced4da;
}
#layout .input-group {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100%;
}
#layout
  .seller-profile-form
  .form-group
  .input-group
  .react-datepicker-wrapper {
  width: calc(100% - 40px);
  -webkit-flex: 1 1;
  flex: 1 1;
}
#layout .seller-profile-form .form-group .react-datepicker-wrapper {
  display: block;
}
#layout .react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
#layout .input-group-append {
  margin-left: -1px;
}
#layout .input-group-append,
#layout .input-group-prepend {
  display: -webkit-flex;
  display: flex;
}
#layout .input-group > .input-group-append > .btn,
#layout .input-group > .input-group-append > .input-group-text,
#layout
  .input-group
  > .input-group-prepend:first-child
  > .btn:not(:first-child),
#layout
  .input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child),
#layout .input-group > .input-group-prepend:not(:first-child) > .btn,
#layout
  .input-group
  > .input-group-prepend:not(:first-child)
  > .input-group-text {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#layout .input-group-text {
  height: 36px;
}
#layout .input-group-text {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
#layout .custom-file-input-drop-new-area {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
#layout .custom-file-drop-box.is-file-uploaded::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  z-index: 2;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#layout .custom-file-input-drop-new-area .custom-file-drop-box {
  width: 127px;
}
#layout .custom-file-drop-box.is-file-uploaded {
  color: #fff;
}
#layout .custom-file-drop-box.new {
  border-color: #50b6fb;
}
#layout .custom-file-drop-box {
  height: 127px;
  background: #fff;
  border: 3px dashed #ccc;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  color: #777;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#layout .custom-file-drop-box-message {
  z-index: 3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#layout .custom-file-upload-preview {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#layout .custom-file-upload-preview img {
  height: auto;
  width: auto;
  max-height: 100%;
}
#layout.custom-file-drop-box.new .custom-file-drop-box-input {
  margin: 0;
  background: transparent;
}
.custom-file-drop-box.is-file-uploaded .custom-file-drop-box-input,
.custom-file-drop-box.is-file-uploaded .custom-file-drop-box-message {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}
.custom-file-drop-box.is-file-uploaded:hover .custom-file-drop-box-input,
.custom-file-drop-box.is-file-uploaded:hover .custom-file-drop-box-message {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}
#layout.custom-file-drop-box-input {
  position: static;
}
#layout.custom-file-drop-box-input {
  position: relative;
  z-index: 3;
  margin-top: 15px;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#layout .custom-file-drop-box-input input[type="file"] {
  height: 100% !important;
}
#layout .custom-file-drop-box-input input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 32px !important;
  cursor: pointer;
  z-index: -1;
}
#layout .custom-file-drop-box.is-file-uploaded:hover:before {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  visibility: visible;
}
#layout.custom-file-drop-box.is-file-uploaded:hover .custom-file-drop-box-input,
#layout.custom-file-drop-box.is-file-uploaded:hover
  .custom-file-drop-box-message {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}
#layout .custom-file-drop-box-input label {
  height: 32px;
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 3px 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#layout
  .custom-file-drop-box.new.is-file-uploaded
  .custom-file-drop-box-input
  label {
  background: transparent;
  color: #fff;
  border-color: transparent;
}
#layout .custom-file-drop-box.new .custom-file-drop-box-input label {
  border: none;
  background: transparent;
  color: #50b6fb;
  height: 30px;
  width: 30px;
  padding: 0;
  font-size: 40px;
}

#layout .seller-profile-form .form-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border-color: #30a55e;
}
#layout .custom-file-drop-box-input label:hover {
  background: #777;
  color: #fff;
  border-color: #777;
}
img.cropper-image {
  display: block;
  max-width: 100%;
}
.crop-preview {
  overflow: hidden;
  width: 160px;
  height: 160px;
  border: 1px solid #30a55e;
}
.btn-submit.btn-danger {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.btn-submit.btn-danger:hover {
  color: #fff !important;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
}
.btn-submit.btn-danger:not(:disabled):not(.disabled).active,
.btn-submit.btn-danger:not(:disabled):not(.disabled):active {
  color: #fff !important;
  background-color: #bd2130 !important;
  border-color: #b21f2d !important;
}
.custom-file-drop-box {
  height: 127px;
  background: #fff;
  border: 3px dashed #ccc;
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  color: #777;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.custom-file-drop-box.new {
  border-color: #50b6fb;
}
.custom-file-drop-box.is-dragover {
  border-color: #30a55e;
  background: #c3e6ff;
}
.custom-file-drop-box.is-error {
  border-color: #cc361c;
  background: #fcedee;
}
.custom-file-drop-box-error-message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(202, 54, 28, 0.902);
  z-index: 4;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.custom-file-drop-box-message-text {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  font-size: 14px;
}
.custom-file-drop-box-message-text-extra {
  position: absolute;
  white-space: nowrap;
  bottom: 8px;
  font-size: 12px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.custom-file-drop-box-upload-icon {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 20px;
}
.custom-file-drop-box-input {
  position: relative;
  z-index: 3;
  margin-top: 15px;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.custom-file-upload-preview {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.custom-file-upload-preview img {
  height: auto;
  width: auto;
  max-height: 100%;
}
.custom-file-drop-box-message {
  z-index: 3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.custom-file-drop-box.is-file-uploaded {
  color: #fff;
}
.custom-file-drop-box.is-file-uploaded .custom-file-drop-box-input label:hover {
  background: #222;
  color: #fff;
  border-color: #222;
}
.custom-file-drop-box.new.is-file-uploaded .custom-file-drop-box-input label {
  background: transparent;
  color: #fff;
  border-color: transparent;
}
.custom-file-drop-box.new.is-file-uploaded
  .custom-file-drop-box-input
  label:hover {
  background: transparent;
  color: #50b6fb;
  border-color: transparent;
}

.la-plus-circle::before {
  content: "\f055";
}

#layout .custom-file-drop-box-input label:hover {
  background: #777;
  color: #fff;
  border-color: #777;
}
#layout .custom-file-drop-box.new .custom-file-drop-box-input {
  margin: 0;
  background: transparent;
}
#layout .seller-profile-form .seller-form-submit {
  background-color: #30a55e;
  border: 1px solid #47d05c;
  height: 36px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: block;
  width: 100%;
}
#layout .seller-profile-form .seller-form-submit:hover {
  color: #fff;
  background-color: #47d05c;
  border-color: #0d649e;
}

/* -----   Transaction page -------*/
#layout .table .transaction .table-head,
#layout .table .transaction .table-head td {
  background-color: #f1f4f7;
  border: none;
}
#layout .table .transaction .table-head td {
  padding: 0.8rem 1rem;
  text-align: center;
  width: 90px;
}
#layout .table .transaction .table-head td p {
  margin-bottom: 0;
  font-size: 11px !important;
  font-weight: 600;
  color: #4a4949;
}
#layout .table .transaction td {
  width: 90px;
}
#layout .table .transaction td p {
  margin-bottom: 0;
  font-size: 10px !important;
  font-weight: 400;
  color: #828181;
  text-align: center;
}
#layout .seller-profile-panel-header.transaction {
  border: none;
}
#layout .seller-transitions-summary-list .info-box {
  /* width: 400px; */
  /* height: 240px; */
  background-color: #fff;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px 15px -7px rgba(0, 0, 0, 0.83);
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 10px;
}
#layout .seller-transitions-summary-list .info-box h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  color: #5f5e5e;
  margin-bottom: 1rem;
}

#layout .seller-transitions-summary-list .info-box .row {
  margin: 0;
  /* height: 190px; */
}
#layout .seller-transitions-summary-list .info-box .left-item p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
#layout .seller-transitions-summary-list .info-box .left-item h3 {
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #000;
}
#layout .seller-transitions-summary-list .info-box .right-item.col-lg-6 {
  border-left: 2px solid #dddfe3;
  margin-bottom: 30px;
  height: 160px;
}
#layout .seller-transitions-summary-list .info-box .right-item p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  padding-left: 1rem;
}
#layout .table-responsive .rdt_TableBody .rdt_TableRow {
  font-size: 10px;
}
#layout .table-responsive nav.rdt_Pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#layout .seller-transitions-summary-list .seller-profile-panel-header {
  margin-bottom: 0;
  padding-bottom: 0;
}
#layout .seller-transitions-summary-list .seller-profile-panel-body {
  margin-top: -30px;
  padding-top: 0 !important;
}
